[submodule "cmake/aicxx"]
	path = cmake/aicxx
	url = https://github.com/CarloWood/cmake-aicxx.git
	branch = master
[submodule "threadsafe"]
	path = threadsafe
	url = https://github.com/CarloWood/threadsafe.git
	branch = master
