Source: libcwd
Priority: extra
Maintainer: Carlo Wood <carlo@alinoe.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libcwd-dev
Section: libdevel
Architecture: any
Depends: libcwd (= ${Source-Version})
Description: C++ Debugging Support Library
 Libcwd is a full-featured, professional, well-documented library
 to support C++ developers with debugging their applications.
 It includes support for ostream-based debug output, custom debug
 channels and devices, powerful memory allocation debugging,
 run-time sourcefile:linenumber information, and demangled type
 names of variables.
 .
 This package contains development files.

Package: libcwd
Section: libs
Architecture: any
Depends: libcwd-dev (= ${Source-Version})
Replaces: libcwd0
Description: C++ Debugging Support Library
 Libcwd is a full-featured, professional, well-documented library
 to support C++ developers with debugging their applications.
 It includes support for ostream-based debug output, custom debug
 channels and devices, powerful memory allocation debugging,
 run-time sourcefile:linenumber information, and demangled type
 names of variables.

Package: libcwd-doc
Section: doc
Architecture: all
Description: C++ Debugging Support Library
 Libcwd is a full-featured, professional, well-documented library
 to support C++ developers with debugging their applications.
 It includes support for ostream-based debug output, custom debug
 channels and devices, powerful memory allocation debugging,
 run-time sourcefile:linenumber information, and demangled type
 names of variables.
 .
 This package contains documentation files.
